{% load static %}
{% include 'partials/header.html' %}
{% block content %}
    <!-- slider section -->
    <section class="slider_section ">
      <div class="container ">
        <div class="row">
          <div class="col-lg-7 col-md-8 mx-auto">
            <div class="detail-box">
              <p>
                Republic of the Philippines <br />
                City Government of Zamboanga <br />
                Local City College <br />
                Ayala & Vitali Campus <br />
              </p>
              <h1>
                ENROLLMENT FORM<br>
              </h1>
              <br /><br />
            </div>
          </div>
        </div>
        <div class="find_container ">
          <div class="container">
            <div class="row">
              <div class="col">
                <form>
                  <div class="form-row ">
                    <div class="form-group col-lg-12">
                      <label for="" class="lbl_txt">Student Number</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Student Number">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-8">
                      <label for="" class="lbl_txt">Name</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Name (Family Name, Given Name Middle Name)">
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">LRN No</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="LRN No.">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-12">
                      <label for="" class="lbl_txt">Address</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Address">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">Place of Birth</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Place of Birth">
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">Date of Birth</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Date of Birth">
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">Age</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Age">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-3">
                      <label for="" class="lbl_txt">Sex</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Sex">
                    </div>
                    <div class="form-group col-lg-3">
                      <label for="" class="lbl_txt">Civil Status</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Civil Status">
                    </div>
                    <div class="form-group col-lg-3">
                      <label for="" class="lbl_txt">Citizenship</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Citizenship">
                    </div>
                    <div class="form-group col-lg-3">
                      <label for="" class="lbl_txt">Ethnicity</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Ethnicity">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-3">
                      <label for="" class="lbl_txt">Height</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Height (in cm)">
                    </div>
                    <div class="form-group col-lg-3">
                      <label for="" class="lbl_txt">Weight</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Weight (in kg)">
                    </div>
                    <div class="form-group col-lg-3">
                      <label for="" class="lbl_txt">Religion</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Religion">
                    </div>
                    <div class="form-group col-lg-3">
                      <label for="" class="lbl_txt">Contact Number</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Contact Number">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">Level of Education</label>
                      <select name="" class="form-control wide" id="inputDoctorName">
                        <option value="Normal distribution ">Doctorate</option>
                        <option value="Normal distribution ">Masteral</option>
                        <option value="Normal distribution ">Tertiary</option>
                        <option value="Normal distribution ">Technical/Vocational</option>
                        <option value="Normal distribution ">Senior High School</option>
                        <option value="Normal distribution ">Junior High School</option>
                        <option value="Normal distribution ">Elementary School</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-5">
                      <label for="" class="lbl_txt">Mother's Maiden Name</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Mother's Maiden Name">
                    </div>
                    <div class="form-group col-lg-3">
                      <label for="" class="lbl_txt">Educational Attainment</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Educational Attainment">
                    </div>
                    <div class="form-group col-lg-2">
                      <label for="" class="lbl_txt">Occupation</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Occupation">
                    </div>
                    <div class="form-group col-lg-2">
                      <label for="" class="lbl_txt">Monthly Income</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Monthly Income">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-5">
                      <label for="" class="lbl_txt">Father's Name</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Father's Name">
                    </div>
                    <div class="form-group col-lg-3">
                      <label for="" class="lbl_txt">Educational Attainment</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Educational Attainment">
                    </div>
                    <div class="form-group col-lg-2">
                      <label for="" class="lbl_txt">Occupation</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Occupation">
                    </div>
                    <div class="form-group col-lg-2">
                      <label for="" class="lbl_txt">Monthly Income</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Monthly Income">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-5">
                      <label for="" class="lbl_txt">Contact Person in-case of Emergency</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Contact Person in-case of Emergency">
                    </div>
                    <div class="form-group col-lg-3">
                      <label for="" class="lbl_txt">Contact Number</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Contact Number">
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">Address</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Address">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-12">
                      <label for="" class="lbl_txt">Email Address</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-lg-12">
                      <label for="" class="lbl_txt">Status of Registration</label>
                      <ul class="job_check_list">
                        <li class=" ">
                          <input id="checkbox_qu_01" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_01">
                            Old Student
                          </label>
                        </li>
                        <li class=" ">
                          <input id="checkbox_qu_02" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_02">
                            New Student
                          </label>
                        </li>
                        <li class=" ">
                          <input id="checkbox_qu_03" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_03">
                            Transferee
                          </label>
                        </li>
                        <li class=" ">
                          <input id="checkbox_qu_03" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_03">
                            Shifter
                          </label>
                        </li>
                        <li class=" ">
                          <input id="checkbox_qu_03" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_03">
                            Returning Student
                          </label>
                        </li>
                        <li class=" ">
                          <input id="checkbox_qu_03" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_03">
                            SY Last Attended
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-12">
                      <label for="" class="lbl_txt">Shifting from</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="If shifter, shifting from">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">Student Type</label>
                      <ul class="job_check_list">
                        <li class=" ">
                          <input id="checkbox_qu_01" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_01">
                            Regular
                          </label>
                        </li>
                        <li class=" ">
                          <input id="checkbox_qu_02" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_02">
                            Irregular
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">School Year</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="School Year">
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">Year Level</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Year Level">
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">Entrance Exam Score</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="(new/transferee/shifter)">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-8">
                      <label for="" class="lbl_txt">Course Enrolled</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Course Enrolled">
                    </div>
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">Scholarship</label>
                      <input type="text" class="form-control" id="inputPatientName" placeholder="Scholarship">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-4">
                      <label for="" class="lbl_txt">Semester</label>
                      <ul class="job_check_list">
                        <li class=" ">
                          <input id="checkbox_qu_01" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_01">
                            1st
                          </label>
                        </li>
                        <li class=" ">
                          <input id="checkbox_qu_01" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_01">
                            2nd
                          </label>
                        </li>
                        <li class=" ">
                          <input id="checkbox_qu_02" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_02">
                            Irregular
                          </label>
                        </li>
                        <li class=" ">
                          <input id="checkbox_qu_02" type="checkbox" class="styled-checkbox">
                          <label for="checkbox_qu_02">
                            Summer
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="form-group col-lg-3">
                      <div class="btn-box">
                        <button type="submit" class="btn ">Submit Data</button>
                      </div>
                    </div>
                  </div>
                  </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>
  <!-- category section -->
  <!-- end category section -->


  <!-- about section -->
  <!-- end job section -->
  <!-- expert section -->
  <!-- end expert section -->

{% endblock content %}
{% include 'partials/footer.html' %}